* {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  box-shadow: var(--Down-L, 0px 8px 20px 0px #0000001f);
  background: var(--pd-color-neutral-surface, #ffffff);
  padding: 4px;
  width: 363px;
  height: 84px;
  row-gap: 2px;

  .item2 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 4px;
    border-radius: 4px;
    background: var(--pd-color-neutral-surface-2, #f5f5f5);
    padding: 8px 319px 8px 8px;

    .item {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--neutral-Deprecated-text1, #000000eb);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .item4 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 4px;
    border-radius: 4px;
    background: var(--pd-color-neutral-surface, #ffffff);
    padding: 8px 330px 8px 8px;

    .item3 {
      flex-shrink: 0;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--pd-color-neutral-on-surface-strong, #171718);
      font-family: "TikTok Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }
}
