* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffd000;
  padding: 26px 7px 8px 24px;
  width: 288px;
  height: 490px;
  overflow: hidden;

  .group1 {
    position: relative;
    width: 105px;
    height: 82px;

    .a2026 {
      position: absolute;
      top: 0;
      left: 0;
      width: 105px;
      height: 82px;
      line-height: 82px;
      letter-spacing: -3.43px;
      color: #000000;
      font-family: Katibeh, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 69px;
    }

    .happyNewYear {
      position: absolute;
      top: 44px;
      left: 0;
      width: 101px;
      height: 16px;
      line-height: 16px;
      letter-spacing: 0;
      color: #000000;
      font-family: Karla, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .autoWrapper {
    position: relative;
    margin-top: 3px;
    margin-left: 27px;
    width: 190px;
    height: 190px;

    .group2 {
      position: absolute;
      top: -86px;
      right: -59px;
      width: 123px;
      height: 117px;
    }

    .rectangle2 {
      position: absolute;
      top: 0;
      left: 0;
      outline-width: 2px;
      outline-style: solid;
      outline-color: var(--primary-black, #000000);
      border-radius: 16px;
      background: #08c3b1;
      width: 190px;
      height: 190px;
    }

    .aboutCoin3 {
      position: absolute;
      top: 116px;
      right: -73px;
      width: 76px;
      height: 36px;
      overflow: hidden;
      rotate: -29deg;
    }

    .group3 {
      position: absolute;
      bottom: -54px;
      left: -65px;
      width: 68px;
      height: 73px;
    }

    .group759 {
      position: absolute;
      top: -47px;
      left: 93px;
      width: 38px;
      height: 38px;
    }
  }

  .group758 {
    margin-top: 130px;
    margin-left: 206px;
    width: 51px;
    height: 51px;
  }
}
