* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ff90de;
  padding-top: 26px;
  padding-left: 9px;
  width: 288px;
  height: 490px;
  overflow: hidden;

  .autoWrapper {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 15px;

    .group1 {
      position: relative;
      width: 105px;
      height: 82px;

      .a2026 {
        position: absolute;
        top: 0;
        left: 0;
        width: 105px;
        height: 82px;
        line-height: 82px;
        letter-spacing: -3.43px;
        color: #000000;
        font-family: Katibeh, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 69px;
      }

      .happyNewYear {
        position: absolute;
        top: 44px;
        left: 0;
        width: 101px;
        height: 16px;
        line-height: 16px;
        letter-spacing: 0;
        color: #000000;
        font-family: Karla, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .group763 {
      width: 66px;
      height: 64px;
    }
  }

  .autoWrapper3 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 3px;
    padding-right: 14px;
    padding-left: 0;

    .group758 {
      margin-top: 66px;
      width: 37px;
      height: 38px;
    }

    .autoWrapper2 {
      position: relative;
      width: 190px;
      height: 190px;

      .group761 {
        position: absolute;
        top: 117px;
        right: -23px;
        width: 35px;
        height: 34px;
      }

      .group762 {
        position: absolute;
        bottom: -38px;
        left: -35px;
        width: 57px;
        height: 55px;
      }

      .rectangle2 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        outline-width: 2px;
        outline-style: solid;
        outline-color: var(--primary-black, #000000);
        border-radius: 16px;
        width: 190px;
        height: 190px;

        .rectangle3 {
          outline-width: 2px;
          outline-style: solid;
          outline-color: var(--primary-black, #000000);
          border-radius: 16px;
          background: #90a8ed;
          width: 190px;
          height: 190px;
        }
      }
    }

    .group759 {
      margin-top: 16px;
      width: 30px;
      height: 30px;
    }
  }

  .group {
    margin-top: 113px;
    margin-left: 188px;
    width: 95px;
    height: 109px;
  }
}
