* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #8aa8ff;
  padding: 27px 47px 13px 14px;
  width: 288px;
  height: 490px;
  overflow: hidden;

  .group1 {
    position: relative;
    margin-left: 10px;
    width: 105px;
    height: 82px;

    .a2026 {
      position: absolute;
      top: 0;
      left: 0;
      width: 105px;
      height: 82px;
      line-height: 82px;
      letter-spacing: -3.43px;
      color: #000000;
      font-family: Katibeh, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 69px;
    }

    .happyNewYear {
      position: absolute;
      top: 44px;
      left: 0;
      width: 101px;
      height: 16px;
      line-height: 16px;
      letter-spacing: 0;
      color: #000000;
      font-family: Karla, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .autoWrapper {
    position: relative;
    margin-top: 2px;
    margin-left: 37px;
    width: 190px;
    height: 190px;

    .universityCap2 {
      position: absolute;
      top: -101px;
      right: -76px;
      width: 147px;
      height: 139px;
    }

    .group759 {
      position: absolute;
      top: 80px;
      right: -21px;
      width: 30px;
      height: 30px;
    }

    .universityCap5 {
      position: absolute;
      bottom: -27px;
      left: -67px;
      width: 79px;
      height: 73px;
    }

    .rectangle2 {
      position: absolute;
      top: 0;
      left: 0;
      outline-width: 2px;
      outline-style: solid;
      outline-color: var(--primary-black, #000000);
      border-radius: 16px;
      background: #f1f333;
      width: 190px;
      height: 190px;
    }
  }

  .group763 {
    margin-top: 130px;
    width: 47px;
    height: 47px;
  }
}
