* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ff90de;
  padding: 89px 24px 49px;
  width: 288px;
  height: 472px;
  overflow: hidden;

  .autoWrapper {
    position: relative;
    width: 240px;
    height: 216px;

    .features4 {
      position: absolute;
      top: -79px;
      right: -24px;
      width: 128px;
      height: 124px;
    }

    .rectangle2 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      border-radius: 16px;
      background: var(--primary-purple, #90a8ed);
      padding: 79px 64px 89px 63px;
      width: 240px;
      height: 216px;

      .text {
        line-height: 48px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Alibaba PuHuiTi 3.0", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 37px;
      }
    }

    .group1 {
      position: absolute;
      top: -73px;
      left: -1px;
      width: 105px;
      height: 82px;

      .a2026 {
        position: absolute;
        top: 0;
        left: 0;
        width: 105px;
        height: 82px;
        line-height: 82px;
        letter-spacing: -3.43px;
        color: #000000;
        font-family: Katibeh, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 69px;
      }

      .happyNewYear {
        position: absolute;
        top: 44px;
        left: 0;
        width: 101px;
        height: 16px;
        line-height: 16px;
        letter-spacing: 0;
        color: #000000;
        font-family: Karla, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }
  }

  .text2 {
    margin: 18px 0px 0px 2px;
    width: 200px;
    line-height: 50px;
    letter-spacing: 0;
    color: #000000;
    font-family: Karla, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
}
