* {
  box-sizing: border-box;
}

.a012 {
  width: 24px;
  height: 18px;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--pd-color-neutral-on-surface-weak, #848688);
  font-family: "TikTok Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
