* {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--pd-color-neutral-core-weak, #d3d4d5);
  border-radius: 4px;
  background: var(--pd-color-neutral-surface, #ffffff);
  padding: 17px 23px;
  width: 363px;
  height: 86px;
  row-gap: 8px;

  .upload {
    flex-shrink: 0;
  }

  .title3 {
    flex-shrink: 0;
    align-self: stretch;
    text-align: center;
    line-height: 22px;
    letter-spacing: 0;
    color: #000000;
    font-size: 14px;

    .title {
      line-height: 22px;
      letter-spacing: 0;
      color: var(--neutral-Deprecated-text5, #0000004d);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .title2 {
      line-height: 22px;
      letter-spacing: 0;
      color: #ff7e96;
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
