* {
  box-sizing: border-box;
}

.frame2117128697 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: var(--Gray-Lightest-2, #f7f9fc);
  padding-right: 151px;
  padding-left: 151px;
  width: 520px;
  height: 516px;
  row-gap: 24px;

  .frame {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    overflow: hidden;
  }

  .frame2117128696 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    row-gap: 8px;

    .text {
      flex-shrink: 0;
      align-self: stretch;
      text-align: center;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--Gray-Darkest, #232339);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .text2 {
      flex-shrink: 0;
      width: 218px;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--neutral-Deprecated-text5, #0000004d);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }
}
